body {
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    position: relative;
    background-color: purple;
    width: 300px;
    height: 400px;
    border-radius: 40px;
    box-shadow: inset 5px 5px 15px rgba(0,0,0,0.15),
    inset -5px -5px 15px rgba(0,0,0,0.15),
    5px 5px 15px rgba(0,0,0,0.15),
    -5px -5px 15px rgba(255,255,255,0.15)
}

.card::before {
    content: '';
    position: absolute;
    inset: 5px;
    background-color: white;
    border-radius: 35px;
    transition: 0.5s;
}

.card::before:hover {
    transform: translate(40, 40);
}
